<nav class="nav nav-pills flex-column flex-sm-row">
  <a class="flex-sm-fill text-sm-center nav-link active" aria-current="page" routerLink="employees" routerLinkActive="active">Home</a>
  <a class="flex-sm-fill text-sm-center nav-link" routerLink="create-employee" routerLinkActive="active">Goals</a>
  <a class="flex-sm-fill text-sm-center nav-link" routerLink="create-employee" routerLinkActive="active">Learn More</a>
  <a class="flex-sm-fill text-sm-center nav-link" routerLink="create-employee" routerLinkActive="active">About Us</a>
  <a class="flex-sm-fill text-sm-center nav-link" routerLink="create-employee" routerLinkActive="active">Contact Us</a>

</nav>
