<section id="sidebar">


    <div class="inner">
        <nav>
            <ul>
                <img src="\assets\Doubloon (2).gif" alt="logo-gif">

                <li><a routerLink="home" routerLinkActive="active">home</a></li>
                <li><a routerLink="goals" routerLinkActive="active">goals</a></li>
                <li><a routerLink="learnmore" routerLinkActive="active">learn more</a></li>
                <li><a routerLink="aboutus" routerLinkActive="active">about us</a></li>
                <li><a routerLink="contactus" routerLinkActive="active">contact us</a></li>
                
            </ul>
        </nav>
    </div>
</section>

<div class = "container">
<router-outlet></router-outlet>
</div>
