<div class="home">
    <h1 style="text-align:center">Welcome To Doubloom</h1>
</div>
<img src="https://us.123rf.com/450wm/oixxo/oixxo1901/oixxo190100021/114340337-golden-game-pirate-coin-icon-with-cute-skull.jpg?ver=6"
    alt="" srcset="">

<div class="Start">
    <button type="button" class="btn btn-primary">Get Started</button>
</div>
<hr>
<div class="card" style="width: 18rem;">
    <img src="#" class="card-img-top" alt="#">
    <div class="card-body">
        <h3>Integrity</h3>
        <p class="card-text">"To take a stand for all investors, to treat them fairly, and to give them the best chance
            for investment success.".</p>
    </div>
</div>
<div class="card" style="width: 18rem;">
    <img src="#" class="card-img-top" alt="#">
    <div class="card-body">
        <h3>Service</h3>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
    </div>
</div>
<div class="card" style="width: 18rem;">
    <img src="#" class="card-img-top" alt="#">
    <div class="card-body">
        <h3>Dependability</h3>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
    </div>
</div>
<div class="card" style="width: 18rem;">
    <img src="#" class="card-img-top" alt="#">
    <div class="card-body">
        <h3>Flexibility</h3>
        <p class="card-text">"To take a stand for all investors, to treat them fairly, and to give them the best chance
            for investment success.".</p>
    </div>
        </div>
    <div class="card" style="width: 18rem;">
        <img src="#" class="card-img-top" alt="#">
        <div class="card-body">
            <h3>Loyalty</h3>
            <p class="card-text">"To take a stand for all investors, to treat them fairly, and to give them the best
                chance for investment success.".</p>
        </div>
            </div>
        <div class="card" style="width: 18rem;">
            <img src="#" class="card-img-top" alt="#">
            <div class="card-body">
                <h3>Accountability</h3>
                <p class="card-text">"To take a stand for all investors, to treat them fairly, and to give them the best
                    chance for investment success.".</p>
            </div>
                </div>
            <hr>
            <div class="sales-pitch">
                <div class="jumbotron">
                    <h1 class="display-4">Hello, world!</h1>
                    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
                    <hr class="my-4">
                    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
                    <p class="lead">
                      <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
                    </p>
                  </div>
            </div>
            <hr>
            <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active" data-bs-interval="10000">
                    <img src="..." class="a-block" alt="...">
                  </div>
                  <div class="carousel-item" data-bs-interval="2000">
                    <img src="..." class="b-block" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="..." class="c-block w-100" alt="...">
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>