<style>
    @import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
    </style>
 <link rel="stylesheet" href="home.component.css">
 <div class="home">
    <h1 style="text-align:center"[style]="" >Welcome To Doubloom</h1>
</div>
<div id="img-coin">
<img src="https://us.123rf.com/450wm/oixxo/oixxo1901/oixxo190100021/114340337-golden-game-pirate-coin-icon-with-cute-skull.jpg?ver=6"
  class="center"  alt="" srcset="">
</div>
    <div class="Start">
    <button class="btn btn-primary btn-lg"  (click)="goToSignIn()"> Get Started</button>
</div>
<hr>
<div class="row">
    <div class="column">
<div class="card" style="width: 18rem;">
    <img src="assets\Img\Integrity.webp" class="card-img-top" alt="#">
    <div class="card-body">
        <h3><strong><u>Integrity</u></strong></h3>
        <p class="card-text"style="font-size:140%;">"To take a stand for all investors, to treat them fairly, and to give them the best chance
            for investment success."</p>
    </div>
</div>
<div class="card" style="width: 18rem;">
    <img src="assets\Img\Service.jpg" class="card-img-top" alt="">
    <div class="card-body">
        <h3><strong><u>Service</u></strong></h3>
        <p class="card-text"style="font-size:140%;">"We deliver an unparalleled standard of excellence in everything we do, staying focused on the biggest opportunities to be meaningful to our customers."
</div>
<div class="card" style="width: 18rem;">
    <img src="assets\Img\dependable.jpg" class="card-img-top" alt="#">
    <div class="card-body">
        <h3><strong><u>Dependability</u></strong></h3>
        <p class="card-text"style="font-size:140%;">  "We’re driven by our commitment to deliver exceptional products, services and experiences to our customers."</p>
        </div>
</div>
    </div>
    <div class="column">
<div class="card" style="width: 18rem;">
    <img src="assets\Img\flexablity.jfif" class="card-img-top" alt="#">
    <div class="card-body">
        <h3><strong><u>Flexibility</u></strong></h3>
        <p class="card-text"style="font-size:140%;">"Growth is not by chance. It’s the result of a forever quest to improve through lifelong learning. *Fun included."</p>
    </div>
        </div>
    <div class="card" style="width: 18rem;">
        <img src="assets\Img\loyalty.jpe" class="card-img-top" alt="#">
        <div class="card-body">
            <h3><strong><u>Loyalty</u></strong></h3>
            <p class="card-text"style="font-size:140%;">"We earn the trust of our customers, employees, and extended family through transparency, security, compliance, privacy, and performance. We deliver the industry’s most trusted infrastructure."</p>
        </div>
            </div>
        <div class="card" style="width: 18rem;">
            <img src="assets\Img\Accountability.jpg" class="card-img-top" alt="#">
            <div class="card-body">
                <h3><strong><u>Accountability</u></strong></h3>
                <p class="card-text"style="font-size:140%;">"Each of us is responsible for our words, our actions, and our results."</p>
            </div>
                </div>
    </div>
</div>
            <hr>
            <div class="sales-pitch">
                <div class="jumbotron">
                    <h1 class="display-4">Mission Statement</h1>
                    <p class="lead">Become essential to our customers by providing differentiated products and services to help them achieve their aspirations.
                    </p>
                    <hr class="my-4">
                    <h3>Our Vision</h3>
                    <p>Provide the world’s best customer experience every day.</p>
                    <p class="lead">
                      <button class="btn btn-primary btn-lg" (click)="goToAboutUs()">About Us</button>
                    </p>
                  </div>
            </div>
            <hr>
            <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active" data-bs-interval="10000">
                    <img src="assets\Img\happy-family.webp" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item active" >
                    <img src="assets\Img\shopping.jpg" class="d-block w-50" alt="...">
                  </div>
                  <div class="carousel-item active"data-bs-interval="1000">
                    <img src="assets\Img\Mansion-Mewah-di-Israel.webp" class="d-block w-100" alt="...">
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>