.overlay {
    opacity: 1;
    background-color: #32557e;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: -1;
}

.action-buttons {
    padding-bottom: 20px;
}

button {
    margin: 2px;
    font-family: 'Rajdhani', sans-serif;
    font-size: 18px;
    font-weight: bold;
}

.headers-align .mat-expansion-panel-header-description {
    justify-content: right;
    align-items: right;
}

.example-headers-align .mat-form-field+.mat-form-field {
    margin-left: 8px;
}

mat-expansion-panel {
    background-color: rgb(235, 186, 53);
    padding: 5px;
    background-image: linear-gradient(to bottom right, rgb(255, 203, 61), rgb(223, 171, 0));
}

mat-panel-title {
    font-size: 28px;
    font-weight: bold;
    font-family: 'Rajdhani', sans-serif;
    margin: 0px 10px 10px 0px;
}

mat-icon {
    margin: 15px 10px 0px 0px;
}

p {
    font-size: 18px;
    font-family: 'Rajdhani', sans-serif;
    font-weight: bold;
}

.intro {
    font-size: 24px;
    font-weight: bold;
    font-family: 'Rajdhani', sans-serif;
    color: white;
}

ul {
    font-size: 16px;
    font-family: 'Rajdhani', sans-serif;
    font-weight: bold;
}

ol {
    font-size: 16px;
    font-family: 'Rajdhani', sans-serif;
    font-weight: bold;
}

h1 {
    color: white;
    text-align: center;
    font-size: 80px;
    font-family: 'Cairo', sans-serif;
    padding-bottom: 35px;

}

img {
    height: 20%;
    width: 20%;
}