<div class="example-action-buttons">
  <button mat-flat-button color="accent" (click)="accordion.openAll()">Expand All</button>
  <button mat-flat-button color="accent" (click)="accordion.closeAll()">Collapse All</button>
</div>


<mat-accordion class="example-headers-align" multi>

  <!-- Accordion -->
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        My Finances
      </mat-panel-title>
      <mat-panel-description>
        Learn More
        <mat-icon>account_circle</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>This is the primary content of the panel.</p>
  </mat-expansion-panel>
  <!-- Accordion -->

  <!-- Accordion -->
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        My Finances
      </mat-panel-title>
      <mat-panel-description>
        Learn More
        <mat-icon>account_circle</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>This is the primary content of the panel.</p>
  </mat-expansion-panel>
  <!-- Accordion -->

  <!-- Accordion -->
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        My Finances
      </mat-panel-title>
      <mat-panel-description>
        Learn More
        <mat-icon>account_circle</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>This is the primary content of the panel.</p>
  </mat-expansion-panel>
  <!-- Accordion -->

  <!-- Accordion -->
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        What's an emergency fund?
      </mat-panel-title>
      <mat-panel-description>
        Learn More
        <mat-icon>battery_alert</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>An emergency fund is not a specific type of bank account but can be any source of cash that you’ve saved to help
      you
      handle financial hardships like job losses, medical bills, or car repairs. How they work:</p>

    <ul>
      <li>
        Most people use a separate savings account.
      </li>
      <li>
        The account should total enough to cover three to six months’ worth of expenses.
      </li>
      <li>
        Emergency fund money should be off-limits for paying regular expenses.
      </li>
    </ul>

  </mat-expansion-panel>
  <!-- Accordion -->


</mat-accordion>

