<h3>View Goal Details</h3>
<div>
    <div>
        <label><b>Id:</b></label>
        {{goal.id}}
    </div>

    <div>
        <label><b>Goal:</b></label>
        {{goal.name}}
    </div>

    <div>
        <label><b>Cost:</b></label>
        {{goal.cost}}
    </div>
    
    <div>
        <label><b>Down Payment:</b></label>
        {{goal.downPayment}}
    
    </div>    
    
    <div>
        <label><b>Interest:</b></label>
        {{goal.interest}}
    </div>

    <div>
        <label><b>Months:</b></label>
        {{goal.months}}
    </div>

    <div>
        <label><b>Balance:</b></label>
        {{goal.balance}}
    </div>

    <div>
        <label><b>Description:</b></label>
        {{goal.description}}
    </div>

</div>