<div class="col-md-6 offset-md-3">
    <h3> Create Goal </h3>
    <form (ngSubmit) = "onSubmit()">
    
        <div class="form-group">
            <label> Name</label>
            <input type="text" class ="form-control" id = "firstName"
                [(ngModel)] = "goal.name" name = "firstName">
        </div>
    
        <div class="form-group">
            <label> Cost</label>
            <input type="number" class ="form-control" id = "lastName"
                [(ngModel)] = "goal.cost" name = "lastName">
        </div>
    
        <div class="form-group">
            <label> Down Payment</label>
            <input type="number" class ="form-control" id = "emailId"
                [(ngModel)] = "goal.downPayment" name = "emailId">
        </div>

        <div class="form-group">
            <label> Months</label>
            <input type="number" class ="form-control" id = "title"
                [(ngModel)] = "goal.months" name = "title">
        </div>

        <div class="form-group">
            <label> Interest</label>
            <input type="number" class ="form-control" id = "phoneNumber"
                [(ngModel)] = "goal.interest" name = "phoneNumber">
        </div>
    
        <button class = "btn btn-success" type ="submit">Submit</button>
    
    </form>
    </div> 