<div class = "overlay" ></div>
<div>
<h1>{{this.getName() + "'s"}} Goals </h1>
<br>
<br>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Goal</th>
            <th>Cost</th>
            <th>Months</th>
            <th>Monthly Payment</th>
            <th>Balance</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let goal of goals">
            <td>{{goal.name}}</td>
            <td>{{'$' + goal.cost}}</td>
            <td>{{goal.months}}</td>
            <td>{{'$' + goal.monthlyPayment}}</td>
            <td>{{'$' + goal.balance}}</td>
            <td>
                <button (click) = "updateGoal(goal.id)" class = "btn btn-info"> Update </button>
                <button (click) = "openDialog(goal.id)" class = "btn btn-danger" style = "margin-left:10px"> Delete </button>
                <button (click) = "goalDetails(goal.id)" class = "btn btn-secondary" style = "margin-left:10px">View</button>
                <button (click) = "completeGoal(goal.id)" class = "btn btn-success" style = "margin-left:10px"> Complete </button>

            </td>
        </tr>
    </tbody>
</table>
</div>
<p> Total Monthly Payment: ${{this.totalMonthlyPayment}}</p> 
<p> Total Balance: ${{this.totalBalance}}</p> 
<button (click) = "goToAddGoal()" class = "btn btn-info addgoal"> Add Goal </button>
<google-chart #chart
   [title]="title1"
   [type]="pieChart"
   [data]="tableData1"
   [options]="options"
   [width]="width"
   [height]="height">
</google-chart>

<google-chart #chart
   [title]="title2"
   [type]="pieChart"
   [data]="tableData2"
   [options]="options"
   [width]="width"
   [height]="height">
</google-chart>


<button type="button" class="btn btn-primary">Primary</button>
<button mat-raised-button >Open Dialog</button>

