<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="overlay"></div>

<div class="ourcrew">
    <h1 style="text-align:center">Our Crew</h1>
</div>
<br>

<div class="about-section">

    <h2>Ahoy!</h2>
    <p>Welcome aboard! We be the pirate crew known as Doubloon yarrr. Take a moment to learn more about us yarr. Have a
        wonderful day
        and we wish you smooth sailing yarrr!</p>
</div>




<br>

<div class="row">
    <div class="column">
        <div class="card">
            <a>
                <img src="assets\images\kyran-removebg-preview.png" alt="Kyran" style="width:100%" class="pictures"
                    id="kdawg">
                <img src="assets\HeadshotKyran.png" alt="KyranHeadshot" style="width:100%" class="pictures">
            </a>
            <div class="container">
                <h2>Kyran Baker</h2>
                <p class="title">Xpanxion Java Apprentice</p>
                <p>Recent graduate of Eastern University with a strong passion in technology looking to continue
                    progressing as a software developer. Desire to work in a team environment using my skills in
                    leadership, adaptability, organization, critical thinking, and technical experience as a full stack
                    developer apprentice.</p>

                    <div class="container-bottom">
                <p>Bakerkyran317@gmail.com</p>
                <p><a href="https://www.linkedin.com/in/kyran-baker-404373234/" target="_blank"><button
                            class="button">Connect <i class="fa fa-linkedin-square"></i></button></a></p>
            </div>
        </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <a>
                <img src="assets\images\ryan.png" alt="Ryan" style="width:100%" class="pictures">
                <img src="assets\HeadshotRyan.png" alt="RyanHeadshot" style="width:100%" class="pictures">
            </a>
            <div class="container">
                <h2>Ryan Doomes</h2>
                <p class="title">Xpanxion Java Apprentice</p>
                <p>A veteran and highly driven professional with a wide range of programming utilities and
                    languages. Aiming to leverage the academic experience and proven knowledge of full
                    stack development and web design. Collaborative team member with innovative technical
                    abilities, along with the ability to quickly adapt to new programming languages.</p>
                
                    <div class="container-bottom">
                    <p>ryan.doomes@gmail.com</p>
                <p><a href="https://www.linkedin.com/in/ryan-doomes/" target="_blank"><button class="button">Connect <i
                                class="fa fa-linkedin-square"></i></button></a></p>
            
            </div>
                            </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <a>
                <img src="assets\images\jamal-removebg-preview.png" alt="Jamal" style="width:100%" class="pictures">
                <img src="assets\HeadshotJamal.png" alt="JamalHeadshot" style="width:100%" class="pictures">
            </a>
            <div class="container">
                <h2>Jamal Muldrow</h2>
                <p class="title">Xpanxion Java Apprentice</p>
                <p>10 year U.S Army Veteran, Ex Police Officer with sheer motivation to break into the tech industry. 
                    For the last 2 years I have been teaching myself cloud computing and Python. 
                    I cultivated and utilized analytic situational awareness that has facilitated problem solving skills. 
                    I am highly organized, self-motivated, and proficient with computers. For the last 6 months I have been 
                    enrolled in a Full Stack web development bootcamp with Xpanxion as an apprentice, which is a part of the step it up program.</p>

                <div class="container-bottom">
                <p>Jamal_M_Muldrow@Yahoo.com</p>
                <p><a href="https://www.linkedin.com/in/jamal-muldrow-218b8a92/" target="_blank"><button
                            class="button">Connect <i class="fa fa-linkedin-square"></i></button></a></p>
            </div>
        </div>
        </div>
    </div>

    <div class="row2">
        <div class="column">
            <div class="card">
                <a>
                    <img src="assets\images\quinn.png" alt="Quinn" style="width:100%" class="pictures">
                    <img src="assets\HeadshotQuinn.png" alt="QuinnHeadshot" style="width:100%" class="pictures">
                </a>

                <div class="container">
                    <h2>Quinn di Girolamo</h2>
                    <p class="title">Xpanxion Java Apprentice</p>
                    <p>Event technology and hospitality professional dedicated to personal and community growth. Keen
                        for investigative decisions and collaborative efforts. Aspiring software developer searching for
                        team environment and progress-focused leadership.</p>

                        <div class="container-bottom">
                    <p>quinndigi@gmail.com</p>
                    <p><a href="https://www.linkedin.com/in/quinn-di-girolamo/" target="_blank"><button
                                class="button">Connect <i class="fa fa-linkedin-square"></i></button></a></p>
                </div>
            </div>
        </div>
        </div>

        <div class="column">
            <div class="card">
                <a>
                    <img src="assets\images\andy.png" alt="Andy" style="width:100%" class="pictures">
                    <img src="assets\HeadshotAndy.png" alt="AndyHeadshot" style="width:100%" class="pictures">
                </a>

                <div class="container">
                    <h2>Andy Zou</h2>
                    <p class="title">Xpanxion Java Apprentice</p>
                    <p>Binghamton University graduate with a Master of Science in Mechanical Engineering.
                        Excited to gain experience and start a new career in Full Stack Development.
                        Amateur pirate.</p>


                    <div class="container-bottom">
                    <p>andyzou97@gmail.com</p>
                    <p><a href="https://www.linkedin.com/in/andy-z-a5b0a6182/" target="_blank"><button
                                class="button">Connect <i class="fa fa-linkedin-square"></i></button></a></p>
                </div>    
            </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <a>
                    <img src="assets\images\alex-removebg-preview.png" alt="Alex" style="width:100%" class="pictures">
                    <img src="assets\HeadshotAlex.png" alt="AlexHeadshot" style="width:100%" class="pictures">
                </a>


                <div class="container">
                    <h2>Alex Hosay</h2>
                    <p class="title">Xpanxion Java Apprentice</p>
                    <p>Army veteran. and graduate of multiple IT training programs who loves writing sea shanties on his guitar 
                        and playing with his kiddos. Looking to apply newly developed coding skills with a full-stack web development team.</p>

                    <div class="container-bottom">
                    <p>amhosay@gmail.com</p>
                    <p><a href="https://www.linkedin.com/in/alex-hosay-b593a2203/" target="_blank"><button
                                class="button">Connect <i class="fa fa-linkedin-square"></i></button></a></p>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>