<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="overlay"></div>

<div class="ourcrew">
    <h1 style="text-align:center">Our Crew</h1>
</div>
<br>

<div class="about-section">

    <h2>Ahoy!</h2>
    <p>Welcome aboard! We be the pirate crew known as Doubloon yarrr. Take a moment to learn more about us yarr. Have a wonderful day
        and we wish you smooth sailing yarrr!</p>
</div>




<br>

<div class="row">
    <div class="column">
        <div class="card">
            <img src="https://png2.cleanpng.com/sh/675a0698415b493c2a415c4d274e6ab8/L0KzQYi4UsE3N2Y5fpGAYUO4QIe8WPE1O2E9SJCANkS6R4iCWcE2OWQ5SqY9N0K5R4O8TwBvbz==/5a350658a43080.5647779915134244726725.png"
                alt="Kyran" style="width:100%">
            <div class="container">
                <h2>Kyran Baker</h2>
                <p class="title">Xpanxion Java Apprentice</p>
                <p>K-DAWG. Some text that describes me lorem ipsum ipsum lorem.</p>
                <p>Bakerkyran317@gmail.com</p>
                <p><a href="https://www.linkedin.com/in/kyran-baker-404373234/" target="_blank"><button class="button">Connect <i class="fa fa-linkedin-square"></i></button></a></p>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <img src="https://i.pinimg.com/736x/87/50/84/87508464fbf2f988a5f3da41bd859177--book-drawing-drawing-ideas.jpg"
                alt="Ryan" style="width:100%">
            <div class="container">
                <h2>Ryan Doomes</h2>
                <p class="title">Xpanxion Java Apprentice</p>
                <p>Never Cryin Ryan. Some text that describes me lorem ipsum ipsum lorem.</p>
                <p>ryan.doomes@gmail.com</p>
                <p><a href="https://www.linkedin.com/in/ryan-doomes/" target="_blank"><button class="button">Connect <i class="fa fa-linkedin-square"></i></button></a></p>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <img src="https://img.freepik.com/premium-vector/cute-cartoon-african-american-pirate-girl-isolated-white_214720-929.jpg?w=2000"
                alt="Jamal" style="width:100%">
            <div class="container">
                <h2>Jamal Muldrow</h2>
                <p class="title">Xpanxion Java Apprentice</p>
                <p>Cabal Jamal. Some text that describes me lorem ipsum ipsum lorem.</p>
                <p>Jamal_M_Muldrow@Yahoo.com</p>
                <p><a href="https://www.linkedin.com/in/jamal-muldrow-218b8a92/" target="_blank"><button class="button">Connect <i class="fa fa-linkedin-square"></i></button></a></p>
            </div>
        </div>
    </div>

    <div class="row2">
        <div class="column">
            <div class="card">
                <img src="https://image.shutterstock.com/image-vector/pirate-cartoon-character-captain-mascot-260nw-1566332164.jpg"
                    alt="Quinn" style="width:100%">
                <div class="container">
                    <h2>Quinn di Girolamo</h2>
                    <p class="title">Xpanxion Java Apprentice</p>
                    <p>Big Win Quinn Some text that describes me lorem ipsum ipsum lorem.</p>
                    <p>quinndigi@gmail.com</p>
                    <p><a href="https://www.linkedin.com/in/quinn-di-girolamo/" target="_blank"><button class="button">Connect <i class="fa fa-linkedin-square"></i></button></a></p>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <img src="https://st2.depositphotos.com/3625507/7476/v/600/depositphotos_74767107-stock-illustration-boy-pirate.jpg"
                    alt="Andy" style="width:100%">
                <div class="container">
                    <h2>Andy Zou</h2>
                    <p class="title">Xpanxion Java Apprentice</p>
                    <p>Handy Andy. Some text that describes me lorem ipsum ipsum lorem.</p>
                    <p>andyzou97@gmail.com</p>
                    <p><a href="https://www.linkedin.com/in/andy-z-a5b0a6182/" target="_blank"><button class="button">Connect <i class="fa fa-linkedin-square"></i></button></a></p>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <img src="https://st2.depositphotos.com/2400497/7401/v/950/depositphotos_74019783-stock-illustration-pirate.jpg"
                    alt="Alex" style="width:100%">
                <div class="container">
                    <h2>Alex Hosay</h2>
                    <p class="title">Xpanxion Java Apprentice</p>
                    <p>Scallops Alex. Some text that describes me lorem ipsum ipsum lorem.</p>
                    <p>john@example.com</p>
                    <p><a href="https://www.linkedin.com/in/alex-hosay-b593a2203/" target="_blank"><button class="button">Connect <i class="fa fa-linkedin-square"></i></button></a></p>
                </div>
            </div>
        </div>
    </div>
</div>